body {
     background-color: white;
}

#player1Hand{
     display: flex;
     width: 100%;
}

#player2Hand{
     display: flex;
     width: 100%;
}

#boardHand{
     display: flex;
}
.card {
     height: 178px;
     width: 110px;
     display: block;
     background-color: #D8D8D8;
     border-radius: 10px;
     padding: 25px;
     font-family: montserrat;
     font-size: 12px;
     font-weight: lighter;
     margin: 10px;
}
